

.title{
    text-align: center;
}




.animatedbg{
    background-image: linear-gradient(45deg,#36d1dc , #ddd6f3,#ffedbc, #ed4264);
    background-size: 900%;
    background-position: right;
    animation: bg-anim 10s infinite alternate;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    height: max-content;
    min-height: 100vh;
}

@keyframes bg-anim {
    0% {background-position: right;}
    100% {background-position: left;}
}