

.container{
    padding: 0 2rem;
}

.ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    font-size: large;
    overflow: hidden;
    background-color: #00A3FF;
    border-radius: 15px;
  }
  
.li {
    float: left;
  }
  
.li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 24px;
  }
  
  .li:last-child {
    float: right;
  }

.li a:hover {
    background-color: rgb(10, 10, 10);
  }

  
.search {
  display: inline-block;
  padding: 18px 24px;
}
